{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 align="center">Welcome to bookshare!</h1>
<br>
<div style="justify-self: center;">
    <a href="/add"><button class="btn btn-primary">Add an Exchange Offer!</button></a>
</div>
<br>
<h2 align ="center">Exchange offers available:</h2>

<table class="table">
    <tr align="center">
        <th>Title</th>
        <th>Author</th>
        <th>Uploaded by:</th>
        <th></th>
    </tr>
</table>
{% endblock %}