{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 align="center">Welcome to bookshare!</h1>
<h6 align="center">Do remember to update your contact information if you haven't done so! Update your contact information by going to 'Profile'.</h6>
<br>
<div style="justify-self: center;">
    <a href="/add"><button class="btn btn-primary">Add a Book!</button></a>
    <a href="/myoffers"><button class="btn btn-primary">View My Books</button></a>
    <a href="/requests"><button class="btn btn-primary">View Pending Requests</button></a>
</div>
<br>
<h2 align ="center">Exchange offers available:</h2>

<table class="table", style="text-align: center;">
    <tr align="center">
        <th>Title</th>
        <th>Author</th>
        <th>Uploaded by:</th>
        <th></th>
        <th></th>
    </tr>
    {% for row in rows %}
    <form method="post">
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.username }}</td>
            <td>
                <input name="id" style="display: none" type="number" value='{{ row.id }}'></input>
                <button class="btn btn-info" action="submit">more info</button>
            </td>
        </tr>
    </form>
    {% endfor %}
</table>
{% endblock %}