{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 align="center">Welcome to bookshare!</h1>
<br>
<div style="justify-self: center;">
    <a href="/add"><button class="btn btn-primary">Add a Book!</button></a>
</div>
<br>
<h2 align ="center">My Offers:</h2>

<table class="table", style="text-align: center;">
    <tr align="center">
        <th>Title</th>
        <th>Author</th>
        <th></th>
    </tr>
    {% for row in rows %}
    <form method="post">
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.author }}</td>       
            <td>
                <input name="id" style="display: none" type="number" value='{{ row.id }}'></input>
                <button class="btn btn-info" action="submit">more info</button>
            </td>
        </tr> 
    </form>
    {% endfor %}
</table>
{% endblock %}