{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<br>
<h1> Username: {{ user.username }} </h1>
<h3>Contact Informtion: {{ contact_info }}</h3>
<br>
<form method="post">
    <div class="form-group">
        <label for="updateinfo">Update Contact Information</label>
        <input type="updateinfo" class="form-control" id="updateinfo" name="updateinfo" placeholder="New Contact Information...">
        <br>
        <button class="btn btn-primary" action="submit">Update!</button>
    </div>
</form>
{% endblock %}