{% extends "layout.html" %}

{% block title %}
Requests
{% endblock %}

{% block content %}
<h1 align="center">Pending Exchange Requests</h1>
<br>
<table class="table", style="text-align: center;">
    <tr align="center">
        <th>Book Wanted</th>
        <th>Author</th>
        <th>From:</th>
        <th>Date:</th>
        <th></th>
    </tr>
    {% for row in rows %}
    <form method="post">
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.username }}</td>
            <td>{{ row.date }}</td>
            <td>
                <input name="row_id" style="display: none" type="number" value='{{ row.id }}'></input>
                <button class="btn btn-info" action="submit">more info</button>
            </td>
        </tr>
    </form>
    {% endfor %}
</table>
{% endblock %}